@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@100&display=swap');

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.top-bar .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.top-bar .barra .logo {
    max-width: 5%;
    height: auto; 
    display: block; 
}

.top-bar .nav_barra ul {
    list-style: none;
    padding: 0;
}

.top-bar .nav_barra li {
    display: inline;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.top-bar .nav_barra li:last-child {
    margin-right: 0;
}

.top-bar a {
    text-decoration: none;
    color: #fff;
}
.top-bar a:hover {
  color: #000;
}

.logout_botoia {
    display: inline-block;
    margin-left: 10px;
}

.logout_botoia button {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.logout_botoia button:hover {
    background-color: #cc0000;
}



