/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background: #f0f0f0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

header nav ul {
    list-style: none;
    margin-top: 20px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

/* Contenido principal */
.produktua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.produktua {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produktua img {
    max-width: 100%;
}

.produktua h2 {
    font-size: 24px;
    margin: 10px 0;
}

.produktua p {
    font-size: 18px;
    margin: 10px 0;
}

.produktua button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.produktua button:hover {
    background-color: #555;
}








.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
}

.producto h2 {
    font-size: 24px;
    margin: 10px 0;
}

.producto p {
    font-size: 18px;
    margin: 10px 0;
}

.producto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.producto button:hover {
    background-color: #555;
}
/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.erdian {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima para ocupar toda la pantalla */
}
